* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background-color: #f2f5fa;
}

a {
  color: unset;
  text-decoration: none;
}

text {
  font-family: "Roboto", sans-serif;
}
